# Imports

In [2]:
from common import getOrCreateSparkSession

In [3]:
spark = getOrCreateSparkSession()

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.2_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.2_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9a0c8110-986c-4a5a-abec-49e2512737a0;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.2_2.12;1.4.2 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.2_2.12;0.74.0 in central
:: resolution report :: resolve 121ms :: artifacts dl 5ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.2_2.12;1.4.2 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.2_2.12;0.74.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9a0c8110-986c-4a5a-abec-49e2512737a0
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/5ms)
23/12/06 19:52:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/06 19:52:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/06 19:52:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/12/06 19:52:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/12/06 19:52:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

# Commands

In [15]:
spark.sql("SELECT * from nessie.taxis.vendors.snapshots;").toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,committed_at,snapshot_id,parent_id,operation,manifest_list,summary
0,2023-12-06 18:36:30.747,8983225361031603817,NaN,append,file:/opt/workspace/spark-warehouse/iceberg/ta...,"{'spark.app.id': 'local-1701887194290', 'chang..."
1,2023-12-06 19:02:20.326,3682576955631043731,8.983225e+18,append,file:/opt/workspace/spark-warehouse/iceberg/ta...,"{'spark.app.id': 'local-1701888774141', 'chang..."

In [4]:
spark.sql("SELECT * from nessie.taxis.vendors.history").toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,made_current_at,snapshot_id,parent_id,is_current_ancestor
0,2023-12-06 18:36:30.747,8983225361031603817,NaN,True
1,2023-12-06 19:02:20.326,3682576955631043731,8.983225e+18,True

In [16]:
spark.sql("SELECT * from nessie.taxis.vendors.partitions").toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,record_count,file_count,total_data_file_size_in_bytes,position_delete_record_count,position_delete_file_count,equality_delete_record_count,equality_delete_file_count,last_updated_at,last_updated_snapshot_id
0,5,5,4078,0,0,0,0,2023-12-06 19:02:20.326,3682576955631043731

In [12]:
spark.sql("SHOW LOG main IN nessie").toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,author,committer,hash,message,signedOffBy,authorTime,committerTime,properties
0,,,d1ce11c92f031752c99fc04d120681a4559dc7989bea81...,Merged dev at 4563791cac0210e58298954aac184b82...,,2023-12-06 19:04:05.990537,2023-12-06 19:04:05.990537,{}
1,,,1de998576faf154bf496cb3262ac45472e406eac2bb2a1...,Merged dev at 0aa131e3d99bd6bbfff54310e9067bbf...,,2023-12-06 18:47:48.117052,2023-12-06 18:47:48.117052,{}
2,root,,c7d26b422a1f7a0e6eac5ee670c3da8a5a6595e2e8e3e4...,Iceberg append against taxis.trips,,2023-12-06 18:19:49.896485,2023-12-06 18:19:49.896485,"{'app-id': 'local-1701886781007', 'application..."
3,root,,e48a4e0c4e4e96c30cae49ab564707b5d1bbea5db6e4cd...,Iceberg table created/registered with name tax...,,2023-12-06 18:19:46.419355,2023-12-06 18:19:46.419355,"{'app-id': 'local-1701886781007', 'application..."
4,,,b943563d86f2d0c8046d0ff54ffce1d6deb2aed42d778f...,create namespace taxis,,2023-12-06 18:19:46.166897,2023-12-06 18:19:46.166897,{}
5,,,4b6580474f06cd177600d41ceedeb238c259e095a63503...,delete namespace taxis,,2023-12-06 18:19:45.732815,2023-12-06 18:19:45.732815,{}
6,root,,4b7c055fbf936d2f39cf36c0467041a76885f63b84ac67...,Iceberg delete table taxis.trips,,2023-12-06 18:19:44.948841,2023-12-06 18:19:44.948841,"{'app-id': 'local-1701886781007', 'application..."
7,root,,24c0d7c7216cf295346e4b1b476dc115f39743f4aff190...,Iceberg append against taxis.trips,,2023-12-06 17:37:54.586978,2023-12-06 17:37:54.586978,"{'app-id': 'local-1701884200505', 'application..."
8,root,,14c724398469c268dd07de1caebba725b0edf5d8adbe78...,Iceberg table created/registered with name tax...,,2023-12-06 17:37:47.764890,2023-12-06 17:37:47.764890,"{'app-id': 'local-1701884200505', 'application..."
9,,,e828c875d4ac6ea29b942b522e1c3cf0d2476bd698cca4...,create namespace taxis,,2023-12-06 17:37:47.198130,2023-12-06 17:37:47.198130,{}